<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Insert Page</title>
</head>

<body>
	<h1>Insert Page</h1>
	<hr/>
	<form method="post">
		<legend>INSERT DATA</legend>
		<table>
			<tr>
				<td>
					<labe>Name</labe>
				</td>
				<td><input type="text" name="title" value="<%= data.title %>" disabled/></td>
			</tr>
			<tr>
				<td>
					<labe>Name</labe>
				</td>
				<td><input type="text" name="subject" value="<%= data.subject %>" /></td>
			</tr>
			<tr>
				<td>
					<Label>Model Number </Label>
				</td>
				<td><input type="text" name="personnel" value="<%= data.personnel %>" /></td>
			</tr>
			<tr>
				<td><label>Series</label></td>
				<td><input type="text" name="contents" value="<%= data.contents %>" /></td>
			</tr>
			<tr>
				<td><label>Series</label></td>
				<td><input type="text" name="namel" value="<%= data.namel %>" /></td>
			</tr>
			<tr>
				<td><label>Series</label></td>
				<td><input type="text" name="major" value="<%= data.major %>" /></td>
			</tr>
			<tr>
				<td><label>Series</label></td>
				<td><input type="text" name="series" value="<%= data.phone %>" /></td>
			</tr>

		</table>
		<input type="submit" />
	</form>
</body>

</html>